@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #121481;
  --text-primary: #F3F4E5;
  --text-primary-darker: #DBDCE6;
  --color-secondary: #FFEAE3;
  --color-secondary-darker: #E6D3CC;
  --color-accent: #864AF9;
  --color-accent-darker: #6B3BC7;
  --color-muted: #B8B99E;
  --color-muted-background: #D9D9D9;
}

body {
  background: #F3F4E5;
  color: #252422;
  overflow-x: hidden;
  width: 100%;
  font-kerning: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
